<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
</head>
<body>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquam beatae dignissimos dolorem doloremque doloribus eaque eos est expedita harum ipsam magnam magni maxime natus nihil nulla, quas quasi
  quidem quod repudiandae similique sit temporibus, tenetur ut vitae voluptas voluptates. Ad culpa dolore eligendi error itaque obcaecati recusandae! Alias architecto asperiores autem fuga, in, ipsa laboriosam nobis non
  numquam praesentium quasi quod ratione, repellat repellendus saepe vel veniam? Aliquid aperiam at aut, beatae consequatur delectus deleniti dolore doloribus eius eum fuga harum incidunt, ipsam iusto laboriosam minima
  natus nostrum officia possimus quaerat qui sequi sit sunt temporibus vel voluptates!
</div>

<div><p>hello</p></div>

<div>
  <div>
    <div>
      <div>
                  <div>

          <div> //一"秒钟轮询一次"</div>
          <div>hello</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>